SLACK_FRIDAY_WEBHOOK_URL=https://hooks.slack.com/triggers/YOUR_WORKSPACE/YOUR_FRIDAY_TRIGGER_ID/YOUR_FRIDAY_SECRET
SLACK_MONDAY_WEBHOOK_URL=https://hooks.slack.com/triggers/YOUR_WORKSPACE/YOUR_MONDAY_TRIGGER_ID/YOUR_MONDAY_SECRET
